body {
    display: grid   ;
    background: #333;
    color: #fff;
    font-family: 'Archivo Black', sans-serif;
    width: 100%;
    height: 100vh;
    text-align: center;
    align-items: center;

}
html {
    scroll-behavior: smooth;
}
h1 {

    font-family: 'Tilt Neon', cursive;

}
p {

    font-family: 'Shantell Sans', cursive;

}
  
.heart {
    fill: red;
    position: relative;
    top: 5px;
    width: 50px;
    animation: pulse 1s ease infinite;
  }
  
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}

.header-boyfriend{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 5px;
    gap: 10px;
    width: 100%;
}
.header-boyfriend div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.header-boyfriend div ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.header-boyfriend div ul a {
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
   
    
}
.header-boyfriend h1 {
    text-transform: uppercase;
    font-size: 2rem;

}
.header-boyfriend p {
    font-size: 1.2em;
    text-transform: uppercase;
}
.section-boyfriend{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    gap: 10px;
    padding-bottom: 30px;
}
.section-boyfriend p { 
    
    text-align: center;
}
.face-cute {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    border: 2px solid #7FFFD4;
    background-color: #7FFFD4;
}

    
    
.header-boyfriend ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    text-align: center;
    padding: 10px;
    padding-bottom: 30px;

    
    
}
.header-boyfriend ul li{
    display: flex;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    
    font-size: 1rem;
    
    text-align: center; 
    align-items: center;
    transition: 0.5s;
    
}


.header-boyfriend ul li:hover{
    font-size: 1.05rem;
    background-color: #292929;   
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    
}
.about-him{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-him h1{
    font-size: 1.5rem;
    
}

.about-him section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 80%;
    gap: 10px;
    padding-bottom: 20px;
}
.about-him section p {
    width: 80%;
}
.about-him section aside {
    text-align: center;
    width: 80%;
    
}

.about-him section:nth-child(1) img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid whitesmoke;
    
}
.dates {
    display: flex;
    flex-direction: column;
    
}

.dates ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    
    gap: 20px;
}
.dates aside div{
    display: grid;
    grid-template-columns: 0.35fr 0.35fr ;
    align-items: center;
    justify-items: center;
    gap: 10px;
    
}
.dates aside img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid whitesmoke;    
}
.date-three div {
    display: flex;
    flex-direction: column;
}
.date-three ul {
    display: flex;
    flex-direction: row; 
   
}
.date-three ul li{
    flex-direction: column;
}
.date-three ul li img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid whitesmoke;
}
@media (max-width: 600px) {
    .dates ul li{
        flex-wrap: wrap;
    }
    .date-three ul {
        flex-wrap: wrap;
    }
}